@model Fools_and_Heroes_Returns.Models.RegisterModel

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
    <p id="registerError" class="error"></p>
</hgroup>

        <ol>
            <li id="UserNameArea">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li id="FirstNameArea">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li id="SurnameArea">
                @Html.LabelFor(m => m.Surname)
                @Html.TextBoxFor(m => m.Surname)
            </li>
            <li id="EmailArea">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
                        @*implement if system used by more than just peterborough
        <li id="UserNameArea">
            @Html.LabelFor(m => m.Branch)
            @Html.TextBoxFor(m => m.Branch)
        </li>*@
            <li id="PasswordArea">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li id="ConfirmPasswordArea">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <button class="button regigisterButton">Register</button>



@section Scripts {
    @Scripts.Render("~/bundles/register")
    @Scripts.Render("~/bundles/jquery")
}